@font-face {
    font-family: "Pop-Black";
    src: url(../fonts/Poppins-Black.ttf); 
}
@font-face {
    font-family: "Pop-ExtraBold";
    src: url(../fonts/Poppins-ExtraBold.ttf); 
}
@font-face {
    font-family: "Pop-Bold";
    src: url(../fonts/Poppins-Bold.ttf); 
}
@font-face {
    font-family: "Pop-Semi";
    src: url(../fonts/Poppins-SemiBold.ttf); 
}
@font-face {
    font-family: "Pop-Medium";
    src: url(../fonts/Poppins-Medium.ttf); 
}
@font-face {
    font-family: "Pop-Regular";
    src: url(../fonts/Poppins-Regular.ttf); 
}
@font-face {
    font-family: "Pop-Light";
    src: url(../fonts/Poppins-Light.ttf); 
}
@font-face {
    font-family: "Pop-ExtraLight";
    src: url(../fonts/Poppins-ExtraLight.ttf); 
}
@font-face {
    font-family: "Pop-Thin";
    src: url(../fonts/Poppins-Thin.ttf); 
}